body {
  background-color: #9fa;
  text-align: center;
}
img {
  border-radius: 50%;
  width: 400px;
  margin-top: 2.3rem;
}
h2 {
  font-size: 3rem;
  font-family: Georgia, "Times New Roman", Times, serif;
  letter-spacing: 2px;
  text-transform: uppercase;
}
