* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}

.info-section {
  background-color: gray;
  text-align: center;
  width: 80%;
}
.info-section p {
  font-size: 1.6rem;
  font-weight: bold;
  font-family: Arial, Helvetica, sans-serif;
}
